.selectionContainer {
        background-color: rgb(243, 208, 252);
        opacity: 85%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly; /* This needs to be remembered */
        margin-top: 1em;
        margin-bottom: 1rem;
        width: 75%;
        height: 500px;
    }