
/* Start of Selection Container */


.selectionContainer {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;


}
.previewItinerary {
    background-color: red;
    height: 500px;
    width: 60%;
    margin: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 4px orangered ; 
    justify-content: center;
    align-items: center;
}

.selectionDetails {
    background-color: gold;
    height: 500px;
    width: 30%;
    margin: 20px;
    box-shadow: 5px 5px 4px orangered ;
}

.details {
    text-align: center;
    font-size: 12px;
}
.previewParkSelection, .previewEaterySelection, .previewBizarreSelection {
    background-color: blue;
    height: 22.5%;
    width: 95%;
    display: flex;
    flex-direction: row;
    margin: 20px 20px 20px 20px;
    padding: auto;
    box-shadow: 5px 5px 4px white ;
}

.weatherContainer {

    height: 100px;
    width: 100%;
    background-color: magenta;
    margin: 20px 20px 20px 20px;
    padding: auto;
    box-shadow: 5px 5px 4px orangered ;
}
.weatherForecast {
    display: flex;
    align-content: flex-start;
    height: 60px;
    width: 80%;
    background-color: rgb(117, 117, 117);
    margin: 20px auto 10px auto;
    box-shadow: 5px 5px 4px white ;
    justify-content: center;
    align-items: center;

} 
/* End of Selection Container */




/*  Submit button information */


.submitButtonContainer {
    height: 50px;
    width: 85%;
    background-color: indigo;
    display: flex;
    margin: auto;
    padding: auto;
    box-shadow: 5px 5px 4px orangered ;
    
}

.submitButton {
    height: 30px;
    width: 25%;
    background-color: darkslategrey;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 4px white ;
    align-self: center;
}


.Preview__Displayed {
   font-size:40px ;
   float: center;
   font-size: 30px;
   font-family: 'Holtwood One SC', serif;
   color: whitesmoke;
}

.weatherContainer {

    height: 300px;
    width: 95%;
    background-color: firebrick;
    margin: 20px 20px 20px 20px;
    padding: auto;
    box-shadow: 5px 5px 4px orangered ;
    justify-content: center;
    align-items: center;
}
.weatherForecast {
    display: flex;
    align-content: flex-start;
    height: 250px;
    width: 700px;
    background-color: rgb(117, 117, 117);
    margin: 20px auto 10px auto;
    box-shadow: 5px 5px 4px white ;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    
}