body {
    display: flex;
    flex-direction: column;
}

.underBanner {
    display: flex;

}

.underBanner__Left {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.underBanner__Right {
    
    flex:1;
}

.locationsList {
    height: 50px;
}

.selectionContainer {
    background-color: black;
    display: flex;
    flex-direction: row;

}

.previewItinerary {
    background-color: red;
    height: 500px;
    width: 75%;
    margin: 20px 0 0 20px;
    display: flex;
    flex-direction: column;
}

.selectionDetails {
    background-color: gold;
    height: 500px;
    width: 35%;
    margin: 20px;
}

.weatherContainer {
    background-color: green;
    display: flex;
    flex-direction: column;

}
.previewParkSelection, .previewEaterySelection, .previewBizarreSelection {
    background-color: blue;
    height: 25%;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin: 20px 20px 20px 20px;
}
/* 
.weatherContainer {
    height: 100px;
    width: 75%;
    background-color: magenta;
}

.weatherForecast {
    display: flex;
    flex-direction: column;

} */

.savedItinerary {
    background-color: chartreuse;
    display: flex;
    flex-direction: row;
    height: 500px;
    width: 85%;
    margin: 50px 0 0 20px;
}

.submitButtonContainer {
    height: 50px;
    width: 75%;
    background-color: indigo;
    margin: 20px;
}

.submitButton {
    height: 30px;
    width: 90%;
    background-color: darkslategrey;
    margin-left: 20px;
    margin: 8px;
    
    
}